

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  ;
  }
  
  .header {
    /* position: fixed;
    top: 0;
    width: 100%; */
    z-index: 5;
    background-color: #ffe369;
  }
  

  a {
    text-decoration: none;
  }
  
  .nav {
    display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7.5rem;
  }
  
  .navAside {
    display: flex;
    justify-content: space-between;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .list + .list {
    margin-left: 2rem;
  }
 

  
  
  
  
  @media screen and (max-width: 1000px) {
    .navAside .navigationDesktop {
      display: none;
      border: 1px soild red;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      right: 10%;
      /* top: 3%; */
      bottom: 15%;
      /* bottom: 7%; */
    }
  
    .navigationMobile {
      display: flex;
      align-items: center;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 5.03rem;
      width: 100%;
      z-index: 5;
      height: 100vh; 
      /* left: -100%; */
      padding: min(2vh, 6rem) 0;
      /* font-size: 1.1rem; */
      background-color: hsl(0, 0%, 100%);
      transition: transform 350ms ease-in;
      font-weight: var(--font-semi-bold);
      font-weight: 700;
    }
  
    .navigationMobileOpen {
      transform: translateX(60%);
      transition: transform 350ms ease-in;
    }
  
    .navigationMobile li a {
      color: var(--text-color-purple);
      margin-left: 2.5rem;
      font-weight: 700;
      font-size: 0.9rem;
    }
  
    .navigationMobile .signUp {
      color: white;
      margin-right: 2rem;
    }
  
    .navigationMobile .listItem {
      /* border-bottom: 1px solid #00000033; */
      padding: 1.2rem 0;
      color: #000080;
    }
  
    .navigationMobile .line {
      border-bottom: 1px solid #00000033;
      width: 100%;
    }
  
    .navigationMobile .actionButtons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .navigationMobileWrapper {
      display: flex;
      align-items: center;
      
    }
  
  
  }
  