.preloader {
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.load {
    position: absolute;
    background-color: #e6e6e6;
    height: 2px;
    width: 0;
    left: 0;
    z-index: 2;
}

.progressBar {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.4s ease-out;
    width: 0;
}

.count {
    position: absolute;
    font-size: 100px;
    color: #fff;
    font-weight: 500;
    transform: translateY(-10px);
}

.content {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    display: none;
}